.App {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body and html take up 100% height */
  overflow: hidden; /* Prevent horizontal scrolling */
}